
@{
    ViewBag.Title = "Index";
}

<h2>Reportes</h2>

@Html.ActionLink("Reporte de satisfaccion", "Satisfaccion", null, new { @class = "btn btn-default" })
@Html.ActionLink("Reporte de quejas", "Quejas", null, new { @class = "btn btn-default" })
@Html.ActionLink("Reporte de reclamaciones", "Reclamaciones", null, new { @class = "btn btn-default" })

