@model QR_Project_6.Models.SatisfaccionViewModel
@{
    ViewBag.Title = "Satisfaccion";
}

<h2>Satisfacción</h2>



@Html.Partial("_Valoraciones", Model.Valoracions)

<h3>Grado de satisfacción total: @Model.GradoSatisfaccion%</h3>

<div>
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Descargar", "ExportSatisfaccion", null, new { @class = "btn btn-primary" })
</div>